@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

.pac-container {
  /* width: inherit !important; */
  width: 110%;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 2px solid grey;
  background: black;
}
.pac-matched {
  font-size: 1.5rem;
}
.pac-item-query {
  color: white;
  font-size: 1.5rem;
}
.pac-item {
  font-size: 1.5rem;
}
.pac-item:hover {
  background: rgb(109, 109, 109);
}
