@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  background: #220054;
}

.ForwardRef-iconButton-4 {
  color: #f2e7fe;
}
.MuiInputBase-input {
  color: white;
  font-size: 1.5rem;
}
.MuiSvgIcon-root {
  fill: white;
}
